body {
    background-color: #edcbff;
}
.header {
    height: 230px;
    background-image: url("../images/image2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px 100px;
}
.footer {
    height: 100px;
    font-weight: bold;
    background: #776EB6;
    box-sizing: border-box;
    border: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 5px 100px;
    padding: 15px;

}
.container{
    color: indigo;
    font-size: 28px;
    height: 200px;
    border: 1px solid #000;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    margin: 5px 100px;
    padding: 15px;
}
.store-name{
    color: #E366B5;
    font-size:72px;
    font-style: italic;
    border: 1px solid #000;
}
.logo-name{
    border: 1px solid #000;
    display: block;
}
.menu{
    width: 600px;
    height: 200px;
    border: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.link-menu{
    width: 120px;
    height: 100%;
    display: inline-block;
}
.link-M{
    width: 100%;
    height: 30px;
    border: 1px solid #000;
    background-color: #E366B5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu li {
    font-style: italic;
    list-style: none;
    font-size: 18px;
}
.link-menu {
    color: indigo;
}
.link-menu:hover{
    color: darkviolet;
}
.link{
    color: indigo;
}
.link:hover {
    color: darkviolet;
}
.title {
    color: black;
    font-size: 18px;
    font-weight: 400;
    background-color: #d5b7ff;
}
.briefly {
    color: #707070;
    font-size: 14px;
    font-style: italic;
    line-height: 16px;
}
.specification {
    color: #484343;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    font-style: italic;
}
.specification:first-letter {
    font-family: "Niagara Engraved", Times, serif;
    font-size: 24px;
    color: indigo;
}
.pyramid {
    color: #000033;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    font-style: oblique;
}
.pyramid {
    list-style-image: url("../images/image1.png");
}
.communication input {
    width: 200px;
    height: 30px;
    font-style: normal;
    color: black;
    font-size: 16px;
    text-transform: capitalize;
}
.email:focus {
    background: lavender;
    color: darkblue;
}
input::placeholder {
    color: #707070;
    font-size: 16px;
    font-style: italic;
}
.photo {
    border-color: indigo;
    border-style: solid;
    border-width: 2px;
}
.photo:hover {
    border-color: #edcbff;
    border-style: solid;
    border-width: 2px;
}
table {
    width: 300px;
    border: 2px solid black;
    background: aliceblue;
    border-collapse: collapse;
}
td {
    text-align: center;
    padding: 3px;
    border: 2px solid black;
}
.head-table {
    font-weight: bold;
    padding: 10px 15px;
}
.body-table {
    color: #484343;
}
.catalog{
    border: 1px solid #000;
    height: 350px;
    display: flex;
}
.products{
    width: 200px;
    border: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
}
.catalog {
    margin: 5px 100px;
}