html,body{
    width: 100%;
}

body{
    font-family: Arial;
}




.header{
    max-width: 1280px;
    min-height: 323px;
}

.header__navigation{}

.header__navigation__name{}

.header__navigation__links{}

.header__navigation__links__item{}

.header__navigation__links__item_link{}


.header__video{}




.main{
    max-width: 1280px;
}

.main__presentation{}

.main__presentation__text-block{}

.main__presentation__text-block__heading{}

.main__presentation__text-block__text{}

.main__presentation__image{}


.main__dignities{}

.main__dignities__heading{}

.main__dignities__details{}

.main__dignities__details_summary{}


.main__screenshots{}

.main__screenshots__heading{}

.main__screenshots__section{}

.main__screenshots__section_image{}

.main__screenshots__section__article{}

.main__screenshots__section__article__heading{}

.main__screenshots__section__article__text{}


.main__reviews{}

.main__reviews__heading{}

.main__reviews__section{}

.main__reviews__section_btn{}

.main__reviews__section__text{}


.main__buy-now{}

.main__buy-now__heading{}

.main__buy-now__article{}

.main__buy-now__article__heading{}

.main__buy-now__article__price{}

.main__buy-now__article__list{}

.main__buy-now__article__list_item{}

.main__buy-now__article_btn{}




.footer{
    max-width: 1280px;
    min-height: 509px;
}

.footer__section{}

.footer__section__heading{}

.footer__section__container-1{}

.footer__section__container-1__form{}

.footer__section__container-1__form_text{}

.footer__section__container-1__form_text{}

.footer__section__container-2{}

.footer__section__container-2__contacts{}

.footer__section__container-2__contacts_img{}

.footer__section__container-2__contacts_text{}

.footer__section__container-2__social-network{}

.footer__section__container-2__social-network__btn{}

.fa{}